.gt_login_container {
  border: 3px solid limegreen;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: aquamarine;
}

.gt_login_container > section {
  padding-top: 10%;
  text-align: center;
}

.gt_logo {
  background-image: url('../assets/xgeeks_logo_member_white.svg');
  background-repeat: no-repeat;
  width: 120px;
  height: 100px;

  margin: 0 auto;
  align-content: center;
}

.gt_title_5r {
  font-size: 5rem !important;
}
